.git
.gitignore
.cursor
.vscode
.idea

**/.DS_Store
**/*.log
**/*.tmp
**/*.swp

**/bin
**/dist
**/build
**/tmp
**/vendor
**/coverage
**/*.test
**/*.out

node_modules

README.md
LICENSE
agent-transcripts
terminals
